* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: 300;
}

.outer-nav top horizontal {
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-weight: 300;
	margin-top: 50px;
}

.outer-nav top horizontal ::-webkit-input-placeholder {
	/* WebKit browsers */
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-weight: 300;
}

.outer-nav top horizontal  :-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	opacity: 1;
	font-weight: 300;
}

.outer-nav top horizontal ::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	opacity: 1;
	font-weight: 300;
}

.outer-nav top horizontal :-ms-input-placeholder {
	/* Internet Explorer 10+ */
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-weight: 300;
}

.wrapper01 {
	background: #50a3a2;
	background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
	background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
	opacity: 0.8;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 600px;
	margin-top: -200px;
	overflow: hidden;
}

.form-success .container01 h1 {
	-webkit-transform: translateY(85px);
	-ms-transform: translateY(85px);
	transform: translateY(85px);
}

.description {
	margin-top: 50px;
	text-align: center;
	color: #999;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.description a {
	color: #4A9DF6;
	text-decoration: none;
}

.container01.is-open ~ .description {
	opacity: 0;
}

.container01 {
	display: block;
	max-width: 600px;
	margin: 0 auto;
	padding: 80px 0;
	height: 600px;
	-webkit-transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height
		0.8s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.8s
		cubic-bezier(0.175, 0.885, 0.32, 1.275); transition : width 0.8s
	cubic-bezier( 0.23, 1, 0.32, 1), height 0.8s cubic-bezier( 0.23, 1,
	0.32, 1), -webkit-transform 0.8s cubic-bezier( 0.175, 0.885, 0.32,
	1.275); transition : width 0.8s cubic-bezier( 0.23, 1, 0.32, 1), height
	0.8s cubic-bezier( 0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(
	0.175, 0.885, 0.32, 1.275); transition : width 0.8s cubic-bezier( 0.23,
	1, 0.32, 1), height 0.8s cubic-bezier( 0.23, 1, 0.32, 1), transform
	0.8s cubic-bezier( 0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s
	cubic-bezier( 0.175, 0.885, 0.32, 1.275); -webkit-transform-style :
	preserve-3d; transform-style : preserve-3d; -webkit-transform-origin :
	50% 50%; transform-origin : 50% 50%; text-align : center;
	max-width: 600px;
	transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s
		cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.8s
		cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s
		cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s
		cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s
		cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s
		cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s
		cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	text-align: center;
}

.container01 h1 {
	font-size: 40px;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-put;
	transition-timing-function: ease-in-put;
	font-weight: 200;
}

form {
	padding: 20px 0;
	position: relative;
	z-index: 2;
}

form input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(255, 255, 255, 0.2);
	width: 250px;
	height:35px;
	border-radius: 3px;
	padding: 10px 15px;
	margin: 0 auto 10px auto;
	display: block;
	text-align: center;
	font-size: 18px;
	color: white;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	font-weight: 300;
}

form .btn-back input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(255, 255, 255, 0.2);
	width: 250px;
	height: 39px;
	border-radius: 3px;
	padding: 10px 15px;
	margin: 0 auto 10px auto;
	display: block;
	text-align: center;
	font-size: 18px;
	color: white;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	font-weight: 300;
}
.select-question{
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(255, 255, 255, 0.2);
	width: 250px;
	height: 39px;
	border-radius: 3px;
	padding: 3px 60px;
	margin: 0 auto 10px auto;
	display: block;
	text-align: center;
	font-size: 18px;
	color: #BAB9B9;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	font-weight: 300;
}
.select-question option{
	text-align: center;
}
form input:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

form input:focus {
	background-color: white;
	width: 300px;
	color: #53e3a6;
}

form #reg-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	background-color: white;
	border: 0;
	padding: 10px 15px;
	margin-top:15px;
	color: #53e3a6;
	border-radius: 3px;
	width: 250px;
	cursor: pointer;
	font-size: 18px;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
}

form #reg-button:hover {
	background-color: #f5f7f9;
}

form #details-info {
	margin:0 auto;
	display: block;
	font-size: 18px;
	width: 250px;
	color: #53e3a6;
	height: 51.6px;
	line-height:31.6px;
	border-radius: 3px;
	background-color: white;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-transition: background 0.15s ease, line-height 0.8s
		cubic-bezier(0.23, 1, 0.32, 1);
	transition: background 0.15s ease, line-height 0.8s
		cubic-bezier(0.23, 1, 0.32, 1);
}

form #details-info:hover {
	background-color: #f5f7f9;
}

.container01.is-open .details-info {
  height:1px;
  pointer-events: none;
  line-height: 160px;
}

.btn-back {
  position: absolute;
 /*  margin:0 auto; */
  width: 100%;
  height: 100%;
  opacity:0;
  background-color: #eee;
  color: #222;
  -webkit-transform: translateZ(-2px) rotateX(180deg);
          transform: translateZ(-2px) rotateX(180deg);
  /* height:600px; */
  -webkit-transition: box-shadow 0.8s ease;
  transition: box-shadow 0.8s ease;
}

.btn-back p {
  margin-top: 27px;
  margin-bottom: 25px;
  color: #66C8A8;
  font-family: "黑体";
}

.btn-back button {
  padding: 12px 20px;
  margin: 0 5px;
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  font-size: 0.6em;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background 0.15s ease;
  transition: background 0.15s ease;
}
.btn-back button:focus {
  outline: 0;
}
.btn-back .details-yes {
  background-color: #2196F3;
  color: #fff;
  width: 19.5%;
  height: 10%;
}
.btn-back .details-yes:hover {
  background-color: #51adf6;
}
.btn-back .details-no {
  color: #2196F3;
  width: 19.5%;
  height: 10%;
}
.btn-back .details-no:hover {
  background-color: #ddd;
}
.btn-back .input-date{
	height:39px;
	width:250px;
	padding-left:65px;
	color: #BAB9B9;
	background-color: rgba(255, 255, 255, 0.2);
}
.container01.is-open .btn-back {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.container01[data-direction="left"] .btn-back,
.container01[data-direction="right"] .btn-back {
  -webkit-transform: translateZ(-2px) rotateY(180deg);
          transform: translateZ(-2px) rotateY(180deg);
}

.container01.is-open {
  width: 600px;
  height: 500px;
  padding: 0px;
}

.container01[data-direction="top"].is-open {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.container01[data-direction="right"].is-open {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.container01[data-direction="bottom"].is-open {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.container01[data-direction="left"].is-open {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.bg-bubbles {
	position: absolute;
	margin-top: 50px;
	top: 50px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.bg-bubbles li {
	position: absolute;
	list-style: none;
	display: block;
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.15);
	bottom: -160px;
	-webkit-animation: square 25s infinite;
	animation: square 25s infinite;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
	left: 10%;
}

.bg-bubbles li:nth-child(2) {
	left: 20%;
	width: 80px;
	height: 80px;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-duration: 17s;
	animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
	left: 25%;
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	-webkit-animation-duration: 22s;
	animation-duration: 22s;
	background-color: rgba(255, 255, 255, 0.25);
}

.bg-bubbles li:nth-child(5) {
	left: 70%;
}

.bg-bubbles li:nth-child(6) {
	left: 80%;
	width: 120px;
	height: 120px;
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
	background-color: rgba(255, 255, 255, 0.2);
}

.bg-bubbles li:nth-child(7) {
	left: 32%;
	width: 160px;
	height: 160px;
	-webkit-animation-delay: 7s;
	animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
	left: 55%;
	width: 20px;
	height: 20px;
	-webkit-animation-delay: 15s;
	animation-delay: 15s;
	-webkit-animation-duration: 40s;
	animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
	left: 25%;
	width: 10px;
	height: 10px;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-duration: 40s;
	animation-duration: 40s;
	background-color: rgba(255, 255, 255, 0.3);
}

.bg-bubbles li:nth-child(10) {
	left: 90%;
	width: 160px;
	height: 160px;
	-webkit-animation-delay: 11s;
	animation-delay: 11s;
}

@
-webkit-keyframes square { 0% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

100%
{
-webkit-transform


:

 

translateY


(-700
px
)

 

rotate


(600
deg
);


            

transform


:

 

translateY


(-700
px
)

 

rotate


(600
deg
);


  

}
}
@
keyframes square { 0% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
100%
{
-webkit-transform


:

 

translateY


(-700
px
)

 

rotate


(600
deg
);


            

transform


:

 

translateY


(-700
px
)

 

rotate


(600
deg
);


  

}
}